*{
  padding: 0;
  margin: 0;
}
body{
  background-image: url("child.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 
  /* background-image:linear-gradient(green,white) ; */
}
#form{
  width:50%;
  margin: auto;
}
.output{
  width:50%;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow:2px 2px 5px red;
  height: 60px;
  
}